
@import url("/common.css");

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	> header {
		flex: 0 0 auto;
		padding: 0.5em;
		display: flex;
		gap: 1em;
		justify-content: center;

		& .logo {
			width: 1.5em;
			height: 1.5em;
		}

		> h1 {
			font-size: 1em;
		}
	}

	> benev-humanoid {
		display: block;
		flex: 1 1 auto;
		position: relative;
	}
}

