
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:not(:defined) {
	display: none;
}

html {
	font-family: "Gentium Book Basic", serif;
	background: fixed linear-gradient(0deg, rgb(132 87 44 / 75%) 0%, rgba(255, 149, 0, 0.94) 100%);
	color: whitesmoke;
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

range-slider {
	width: fit-content;
	margin-top: 1em;
}

h1, h3 {
	text-align: center;
}

h1 {
	display: flex;
	align-items: center;
}

h3 {
	color: #9f3847;
	margin-bottom: 1em;
}

span {
	font-size: 31px;
	margin-bottom: 10px;
}
